.gabriel-header
  height: 0.6rem
  font-size: 0
  text-align: center
  background: #e1dbcd
  div, img
    display: inline-block
    vertical-align: middle
  .gabriel-header-menu
    width: 0.26rem
    height: 0.22rem
    span  
      display: block
      height: 0.04rem
      background-color: #303030
      box-shadow: 0 0 0.04rem #43454a
      &:nth-of-type(2)
        margin: 0.05rem 0
  .gabriel-header-title
    font-size: 0.2rem
    font-weight: 600
    width: calc(100% - 1.8rem)
    color: #eb652d
    padding: 0.2rem
  .gabriel-header-logo
    padding: 0.06rem
    animation: Logo 0.8s ease infinite alternate
    img
      width: 0.48rem
      height: 0.48rem
      border-radius: 50%
@keyframes Logo
  0%
    transform: scale(0.6)
  25%
    transform: scale(0.8)
  50% 
    transform: scale(1.2)
  75%
    transform: scale(1.1)
  100%
    transform: scale(1)
