@import "variable.styl"

body, html
  line-height: 1
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica, 'PingFang SC', 'PingFangSC-Regular', 'Hiragino Sans GB', 'Microsoft YaHei', SimSun, sans-serif!important
  -webkit-tap-highlight-color: transparent
  background: $color-background
  color: $color-text
  -webkit-font-smoothing: antialiased
  min-width: 320px
  width: 100%
  height: 100%
.slide-left-enter-active, .slide-right-enter-active {
  transition: all .5s ease;
}
.slide-left-leave-active, .slide-right-leave-active {
  transition: all .35s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-left-enter, .slide-left-leave-to {
  transform: translateX(100px) scale(0.8);
  opacity: 0;
}
.slide-right-enter, .slide-right-leave-to {
  transform: translateX(-100px) scale(0.8);
  opacity: 0;
}
